<footer>
  <div class="copyright-float-right">
    &copy; Wizzard Innovations
  </div>
  <%= link_to "http://opensecrets.org/politicians" do %>
    <%= image_tag"open_secrets_logo.png", width: '150px' %>
  <% end %>
</footer>
